[Unit]
Description=Check 1VPN application every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=site1vpn-healthcheck.service

[Install]
WantedBy=timers.target
